{% extends "conteneur.html" %}

{% block afternav %}
    {% include "partials/recherche.html" %}
{%endblock%}

{% block corps %}
    <h1>À la découverte des jardins remarquables français</h1>
    <p> Instauré en 2004 par le ministère de la Culture et de la Communication, le label « Jardin remarquable » récompense les jardins et parcs privés ou publics présentant un certain intérêt.
        En effet, l'attribution du label dépend de différents critères : la composition du jardin, l'intégration dans le site et la qualité des abords, la présence d'élements remarquables,
        l'intérêt botanique, l'intérêt historique et enfin, la qualité de l'entretien. D'une durée de cinq ans, le label permet des avantages en terme de visibilité et de prise en compte
        lors des plans locaux d'urbanisme. En échange, le jardin remarquable doit être régulièrement entretenu, ouvrir ses portes au public au moins 40 jours par ans et participer aux
        Rendez-vous aux jardins ou aux Journées européennes du patrimoine.</p>
    <p>Cette application propose une exploration des jardins remarquables français suivant un recensement daté de 2020.</p>

    {% if tous_jardins %}
    <p>Il y a {{tous_jardins|length}} jardins remarquables enregistrés sur cette application. Voici les dix derniers enregistrements effectués sur la base de données : </p>
        <ul>
            {% for jardin in derniers_jardins %}
                <li><a href="{{url_for('jardin', id=jardin.id)}}">{{jardin.nom}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>La base de données est en cours de constitution.</p>
    {% endif %}
    <footer>La photographie de fond est celle du jardin remarquable du <a href="/jardin/416" target="_blank">pavillon de Galon</a> à Cucuron dans le Vaucluse.</footer>
{% endblock %}