{% extends "conteneur.html" %}

{% block corps %}
    <h1>À propos</h1>

    <p>À partir d'un jeu de données disponible sur <a href="https://www.data.gouv.fr/fr/datasets/liste-des-jardins-remarquables/" target="_blank">data.gouv</a>,
        cette application Flask propose de découvrir les jardins remarquables français recensés en juin 2020.
        Elle a été réalisée par <a href="https://github.com/leaprs" target="_blank">Léa Perissier</a> dans le cadre de l'évaluation du module Python
        dispensé à l'École nationale des chartes pour l'année scolaire 2020-2021.</p>
    <p>Vous trouverez des informations complémentaires ainsi que la possibilité de joindre sa créatrice sur le
        <a href="https://github.com/leaprs/jardins_remarquables_project" target="_blank">GitHub de l'application</a>.</p>
    <p>Liée à une base de données relationnelle, l'application permet au simple visiteur de parcourir les données grâce à :
        <ul>
            <li>des notices descriptives pour chaque jardin comportant sa géolocalisation</li>
            <li>un index alphabétique des noms des jardins remarquables</li>
            <li>une barre de recherche pour faire des requêtes à travers les noms des jardins de la base de données</li>
            <li>une carte intéractive d'ensemble où chaque pointeur renvoie à la notice du jardin concerné</li>
        </ul>
    </p>
    <p>En s'inscrivant et en se connectant, le visiteur pourra bénéficier de fonctionnalités supplémentaires à savoir : l'ajout, la modification et la suppression d'un jardin remarquable dans la base de données.</p>
    <p>En vous souhaitant une agréable visite !</p>
    <p><a href="{{url_for('accueil')}}">Retour à l'accueil</a></p>
{% endblock %}